<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود ادمین - اپل سرویس</title>
    <link rel="stylesheet" href="/css/adminLogin.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>
<body>
    <% for(const key in flash){ %>               
        <span role="alert" class="flash">
          <%= flash[key] %>
        </span>
    <% } %>
    <form id="loginBox" action="/admin/login" method="post">
        <input required placeholder="Username" name="username" id="username" type="text">
        <input required placeholder="Password" name="password" id="password" type="password">
        <button>ورود</button>
    </form>
</body>
</html>