<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <title>سرویس مدیریت همکاران - اپل سرویس</title>
    <link rel="stylesheet" href="/css/loginPageStyle.css">
    <link rel="stylesheet" href="/css/fonts.css">
  </head>
  <body>

    <div class="container">

      <div class="innerContainer">

        <h1 id="loginH">ورود</h1>
        <p id="nameP">اپل سرویس</p>
        <div class="centerHandler" id="loginForm">
          <input id="codePersoneli" type="number" name="code" autocomplete="off" autofocus required placeholder="...کد پرسنلی خود  را وارد کنید">
          <div class="btnHandler">
            <button type="submit" name="login" id="loginButton">ورود</button>
            <button type="submit" name="logout" id="logoutButton">خروج</button>
          </div>
        </div>

      </div>


    </div>

    <p id="customText">عید نوروز مبارک</p>

    <script src="/js/axios.min.js"></script>

    <script>
      const loginButton = document.getElementById("loginButton")
      const logoutButton = document.getElementById("logoutButton")
      const codePersoneli = document.getElementById("codePersoneli")
      const headerText = document.getElementById("nameP")

      loginButton.addEventListener("click", async () => {
        const loginRequest = await axios.post("/?action=login", {
          codePersoneli : codePersoneli.value
        })

        if(loginRequest.data == ""){
          headerText.style.opacity = 0.2
          setTimeout(() => {
            headerText.innerHTML = "کد پرسنلی نامعتبر"
            headerText.style.color = "red"
            headerText.style.opacity = 1
          }, 200);

          setTimeout(() => {
            headerText.style.opacity = 0.2
            setTimeout(() => {
              headerText.innerHTML = "اپل سرویس"
              headerText.style.color = "black"
              headerText.style.opacity = 1
            }, 200);
          }, 10000);
        }
      })

      logoutButton.addEventListener("click", async () => {

      })
    </script>

  </body>
</html>
