<!DOCTYPE html>
<html lang="en" id="s">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>سرویس مدیریت ورود خروج کارمندان</title>
    <link rel="stylesheet" href="/css/mobileUi.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
  </head>
  <body>
    <div class="apple-service">
      <span>اپل سرویس</span>
      <svg
        width="22"
        height="25"
        viewBox="0 0 22 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M14.4637 3.99113C15.3751 2.93488 15.9894 1.46374 15.8213 0C14.508 0.0500005 12.9191 0.838941 11.9774 1.89394C11.1318 2.83018 10.3936 4.32616 10.5921 5.76116C12.0571 5.8699 13.5524 5.04861 14.4637 3.99113ZM17.7489 13.2814C17.7856 17.0651 21.2123 18.3238 21.2502 18.34C21.2224 18.4288 20.7029 20.1335 19.4452 21.896C18.3569 23.4185 17.2281 24.9348 15.4497 24.9673C13.7028 24.9985 13.1403 23.9748 11.1419 23.9748C9.1448 23.9748 8.52038 24.9346 6.86706 24.9984C5.15054 25.0597 3.84229 23.3512 2.7464 21.8337C0.504048 18.73 -1.20868 13.0627 1.09181 9.23776C2.23448 7.33901 4.27584 6.13479 6.49291 6.10479C8.17783 6.07354 9.76922 7.19123 10.7994 7.19123C11.8296 7.19123 13.7635 5.84748 15.796 6.04498C16.6467 6.07873 19.0357 6.37363 20.5689 8.52486C20.445 8.59861 17.7186 10.1189 17.7489 13.2814Z"
          fill="#1B54FE"
        />
      </svg>
    </div>

    <div class="personeli">
      <input type="text" class="personeli__input" placeholder="کد پرسنلی" />
    </div>

    <div class="numbers">
      <div class="numbers__num">1</div>
      <div class="numbers__num">2</div>
      <div class="numbers__num">3</div>
      <div class="numbers__num">4</div>
      <div class="numbers__num">5</div>
      <div class="numbers__num">6</div>
      <div class="numbers__num">7</div>
      <div class="numbers__num">8</div>
      <div class="numbers__num">9</div>
      <div id="remove">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="2.5rem"
          height="2.5rem"
          fill="currentColor"
          class="bi bi-backspace"
          viewBox="0 0 16 16"
        >
          <path
            d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"
          />
          <path
            d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"
          />
        </svg>
      </div>
      <div class="numbers__num">0</div>
      <div id="submit">
        <svg
          width="3.25rem"
          height="3.25rem"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M17.4697 13.4697C17.1768 13.7626 17.1768 14.2374 17.4697 14.5303C17.7626 14.8232 18.2374 14.8232 18.5303 14.5303L19.8232 13.2374C20.5066 12.554 20.5066 11.446 19.8232 10.7626L18.5303 9.46967C18.2374 9.17678 17.7626 9.17678 17.4697 9.46967C17.1768 9.76256 17.1768 10.2374 17.4697 10.5303L18.1893 11.25L13 11.25C12.5858 11.25 12.25 11.5858 12.25 12C12.25 12.4142 12.5858 12.75 13 12.75L18.1893 12.75L17.4697 13.4697Z"
            fill="#efefef"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11 4.51611L14 4.51611C15.5188 4.51611 16.75 5.74733 16.75 7.26611C16.75 7.68033 16.4142 8.01611 16 8.01611C15.5858 8.01611 15.25 7.68033 15.25 7.26611C15.25 6.57576 14.6904 6.01611 14 6.01611H11V4.51611ZM16 16.5161C16.4142 16.5161 16.75 16.8519 16.75 17.2661C16.75 18.7849 15.5188 20.0161 14 20.0161H11V18.5161H14C14.6904 18.5161 15.25 17.9565 15.25 17.2661C15.25 16.8519 15.5858 16.5161 16 16.5161Z"
            fill="#efefef"
          />
          <path
            opacity="0.4"
            d="M3 5.99676C3 5.27511 3.38195 4.60121 4.01783 4.20091L7.44642 2.36612C8.9654 1.40989 11 2.43812 11 4.16198V19.838C11 21.5619 8.9654 22.5901 7.44642 21.6339L4.01785 19.7959C3.38196 19.3956 3.00002 18.7217 3.00002 18L3 5.99676Z"
            fill="#efefef"
          />
        </svg>
      </div>
    </div>

    <script src="/js/axios.min.js"></script>
    <script>
      const input = document.querySelector(".personeli__input");
      const numbers = document.querySelectorAll(".numbers__num");
      const remove = document.getElementById("remove");
      const submit = document.getElementById("submit");
      const apple = document.querySelector(".apple-service");

      const clickAnimation = (elem) => {
        elem.classList.add("click-animate");
        elem.addEventListener("animationend", () =>
          elem.classList.remove("click-animate")
        );
      };

      for (let i = 0; i < numbers.length; i++) {
        numbers[i].addEventListener("click", () => {
          clickAnimation(numbers[i]);
          input.value = input.value + numbers[i].innerHTML;
        });
      }

      remove.addEventListener("click", () => {
        clickAnimation(remove);
        input.value = input.value.slice(0, -1);
      });

      submit.addEventListener("click", async () => {
        clickAnimation(submit);

        // submit personel
        axios
          .post("/api/duty/change", { codePersoneli: input.value })
          .then((isUserDuty) => {
            if (isUserDuty.data == true) {
              axios.post("/?action=logout", { codePersoneli: input.value });
            } else {
              axios.post("/?action=login", { codePersoneli: input.value });
            }

            input.value = "";
          });
      });

      apple.addEventListener("click", () => {
        var s = document.getElementById("s");
        if (s.requestFullscreen) {
          s.requestFullscreen();
        } else if (s.webkitRequestFullscreen) {
          s.webkitRequestFullscreen();
        } else if (s.msRequestFullscreen) {
          s.msRequestFullscreen();
        }
      });
    </script>
  </body>
</html>
