<!DOCTYPE html>
<html lang="en" id="s">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>سرویس مدیریت ورود خروج کارمندان</title>
    <link rel="stylesheet" href="/css/mobileUi.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
  </head>
  <body>
    <div class="apple-service active-alert show-alert">
      <span>اپل سرویس</span>
      <%- include("templates/svg.ejs", {svg : "apple"}) %>
    </div>

    <div class="success-login">
      <span></span>
      <%- include("templates/svg.ejs", {svg : "success"}) %>
    </div>

    <div class="success-logout">
      <span></span>
      <svg
        width="26"
        height="26"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      ></svg>
    </div>

    <div class="personeli">
      <input
        disabled
        type="text"
        class="personeli__input"
        placeholder="کد پرسنلی"
      />
    </div>

    <div class="numbers">
      <div class="numbers__num">1</div>
      <div class="numbers__num">2</div>
      <div class="numbers__num">3</div>
      <div class="numbers__num">4</div>
      <div class="numbers__num">5</div>
      <div class="numbers__num">6</div>
      <div class="numbers__num">7</div>
      <div class="numbers__num">8</div>
      <div class="numbers__num">9</div>
      <div id="remove"><%-include("templates/svg.ejs", {svg : "remove"})%></div>
      <div class="numbers__num">0</div>
      <div id="submit"><%-include("templates/svg.ejs", {svg : "submit"})%></div>
    </div>

    <script src="/js/axios.min.js"></script>
    <script src="/js/mobileUIScript.js" defer></script>
  </body>
</html>
