:root{
  --main-color: #2f25e8;
  --danger: #e3090f;
}

*{
  padding-left: 0;
  margin: 0;
}

body{
  background-color: #ccc;
}

#loginH{
  font-size: 80px;
  color: var(--main-color);
  text-align: center;
}

#nameP{
  text-align: center;
  margin-top: -20px;
  font-size: 14px;
}

#codePersoneli{
  margin: 10vh;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  font-weight: lighter;
  width: 90%;
  text-align: center;
  outline: none;
  transition: all .3s ease-in-out;
  color: var(--main-color);
  direction: ltr;
}

#codePersoneli::placeholder{
  color: var(--main-color);
}

#codePersoneli:focus{
  background-color: var(--main-color);
  color: white;
  letter-spacing: 5px;
}

.centerHandler{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.innerContainer{
  background-color: white;
  padding: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 5px 10px 1px #b8b8b8;
  border: 2px solid var(--main-color);
}

#loginButton{
  width: 100px;
  height: 40px;
  border: 1px solid var(--main-color);
  border-radius: 7px;
  background-color: var(--main-color);
  color: white;
  letter-spacing: 1px;
  padding-left: 2px;
  transition: all .2s ease-in-out;
  font-weight: lighter;
}

#loginButton:active{
  background-color: transparent;
  color: var(--main-color);
}

#logoutButton{
  width: 100px;
  height: 40px;
  border: 1px solid var(--danger);
  border-radius: 7px;
  background-color: transparent;
  color: var(--danger);
  letter-spacing: 1px;
  padding-left: 2px;
  transition: all .2s ease-in-out;
  font-weight: lighter;
  float: left;
}

#logoutButton:active{
  background-color: var(--danger);
  color: white;
}

#customText{
  position: fixed;
  bottom: 20px;
  left: 5px;
  color: red;
  transform: rotateZ(25deg);
  display: none;
}

.btnHandler{
  width: 97%;
}

button{
  cursor: pointer;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
