<link rel="stylesheet" href="/css/numpad.css" />

<ul id="numpad">
  <li class="number-numpad">3</li>
  <li class="number-numpad">2</li>
  <li class="number-numpad">1</li>
  <li class="number-numpad">6</li>
  <li class="number-numpad">5</li>
  <li class="number-numpad">4</li>
  <li class="number-numpad">9</li>
  <li class="number-numpad">8</li>
  <li class="number-numpad">7</li>
  <li id="delete-numpad">></li>
  <li class="number-numpad">0</li>
</ul>

<script>
  var input = document.getElementById("<%=inp%>");
  var numbers = document.querySelectorAll(".number-numpad");
  var del = document.getElementById("delete-numpad");

  for (let i = 0; i < numbers.length; i++) {
    numbers[i].addEventListener("click", () => {
      input.value = input.value + numbers[i].innerHTML;
      if (input.className !== "<%=inp%>Focus")
        input.className = "<%=inp%>Focus";
    });
  }

  del.addEventListener("click", () => {
    input.value = input.value.slice(0, -1);
    if (input.value == "") input.className = "";
  });
</script>
