{
    "app": {
      "port": 80,
      "secret" : "SECRET CODE HERE",
      "firstMeetPassword" : "PASSWORD",
      "startCodePersoneli" : "NUMBER"
    },
    "database": {
      "host": "HOST",
      "user": "USER",
      "password": "PASSWORD",
      "name": "DATABASE NAME"
    },
    "defualtUser" : {
      "firstName" : "FIRST_NAME",
      "lastName" : "LAST_NAME",
      "userRank" : "USER_RANK"
    }
  }